<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <kgkrunch translate="label" module="cart">
            <label>Raffle Promotion</label>
            <sort_order>100</sort_order>
        </kgkrunch>
    </tabs>
    <sections>
        <kgkrunch translate="label" module="cart">
            <label>Raffle Promotion</label>
            <tab>kgkrunch</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <kgkrunch_group translate="label" module="cart">
                    <label>Raffle Promotion</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>

                    <fields>
                         <enable translate="label">
                        <label>Enable</label>
                        <frontend_type>select</frontend_type>
                        <source_model>adminhtml/system_config_source_yesno</source_model>
                        <sort_order>2</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>1</show_in_website>
                        <show_in_store>1</show_in_store>
                        <can_be_empty>1</can_be_empty>
                    </enable>
                    </fields>
                </kgkrunch_group>
            </groups>
        </kgkrunch>
    </sections>
</config>