<?xml version="1.0"?>
<config>
    <modules>
        <Debitway_Debitcard>
            <version>0.1.0</version>
        </Debitway_Debitcard>
    </modules>
    <frontend>
        <routers>
            <debitcard>
                <use>standard</use>
                <args>
                    <module>Debitway_Debitcard</module>
                    <frontName>debitcard</frontName>
                </args>
            </debitcard>
        </routers>
        <layout>
            <updates>
                <debitcard>
                    <file>debitcard.xml</file>
                </debitcard>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <debitcard>
                <class>Debitway_Debitcard_Model</class>
                <resourceModel>debitcard_mysql4</resourceModel>
            </debitcard>
            <debitcard_mysql4>
                <class>Debitway_Debitcard_Model_Mysql4</class>
                <entities>
                    <debitcard>
                        <table>debitcard</table>
                    </debitcard>
                </entities>
            </debitcard_mysql4>
        </models>
        <resources>
            <debitcard_setup>
                <setup>
                    <module>Debitway_Debitcard</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </debitcard_setup>
            <debitcard_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </debitcard_write>
            <debitcard_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </debitcard_read>
        </resources>
        <blocks>
            <debitcard>
                <class>Debitway_Debitcard_Block</class>
            </debitcard>
        </blocks>
        <helpers>
            <debitcard>
                <class>Debitway_Debitcard_Helper</class>
            </debitcard>
        </helpers>
    </global>
    <default>
        <payment>
            <debitcard>
                <active>1</active>
                <model>debitcard/debitcard</model>
                <order_status>processing</order_status>
                <title>Debitway Debitcard Method</title>
                <message>Please enter your debit card information</message>
				<sort_order>200</sort_order>
            </debitcard>
         </payment>
    </default>
</config>